Lead Scraper.json
{
  "name": "Lead Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "726898b6-0e1c-4ce1-b0ae-e186e17055ca",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-search-scraper/run-sync-get-dataset-items?token=apify_api_7C5YSvP7PXOFac0FZqoFrYojGcKlUZ2wGJ8N",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"search\": \"ai agency\",\n    \"searchLimit\": 100,\n    \"searchType\": \"user\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "97cd2f38-824f-4266-96e6-51e24d3b9666",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "d94c8cea-f830-4eaa-976f-4ac8483e95bc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad4ae6f9-69bb-491a-bbb8-c8e55d412e8f",
              "leftValue": "={{ $json.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2c2b53e3-486f-4e40-a0e7-7dc3bb6d1670",
              "leftValue": "={{ $json.followersCount }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3bb466cb-585d-4868-89fc-bbaf2891b5da",
              "leftValue": "={{ $json.biography }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        208
      ],
      "id": "c42f528c-eeac-4fa0-82cd-e427c6a93bed",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Say hello\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        432
      ],
      "id": "5d23265e-53d6-4456-a170-f593e5c26c2b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "935f43bc-5444-4847-abf3-4052056deb42",
              "name": "dm_message",
              "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        544
      ],
      "id": "9378d8fe-5656-4dbb-ba8a-fa13b04bc4fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7c52fe9-b8b1-43e0-a451-b01dc2c3bcb9",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "43f44564-f60a-4338-a006-ccbc4253774f",
              "name": "bio",
              "value": "={{ $json.biography }}",
              "type": "string"
            },
            {
              "id": "1b313427-cfed-459a-a1b1-06151e8457f6",
              "name": "followers",
              "value": "={{ $json.followersCount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        96
      ],
      "id": "1bb6d2a1-cbdc-4499-97ac-b35adc44b2ef",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T7UfJ2GVpqXrOYYjJT6BjPQ5TUcNfW4932tmR4PNQD4",
          "mode": "list",
          "cachedResultName": "sunny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7UfJ2GVpqXrOYYjJT6BjPQ5TUcNfW4932tmR4PNQD4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T7UfJ2GVpqXrOYYjJT6BjPQ5TUcNfW4932tmR4PNQD4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "username": "={{ $('Edit Fields1').item.json.username }}",
            "bio": "={{ $('Edit Fields1').item.json.bio }}",
            "dm_message": "={{ $('Edit Fields').item.json.dm_message }}",
            "followers": "={{ $('Edit Fields1').item.json.followers }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followers",
              "displayName": "followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dm_message",
              "displayName": "dm_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        272
      ],
      "id": "16c2bae9-3fe8-4fab-a778-585d25b044be",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8l33jymA4COde6no",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76e9db9f-9b2c-45bb-9372-dd3da2d97dd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83a77e52d126d5822f705ed31c90e6bef89b196d8c4c3a92f05304f42ed39f89"
  },
  "id": "GXGJKsFF90lOUnsD",
  "tags": []
}